<div class="welcome-box">

  <!--===== 廣告輪播 =====-->
  <section class="intro-box">
    <div class="row">
      <div class="col-md-12">
        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
          <!-- 轮播内容 -->
          <div class="carousel-inner" role="listbox">
            <div class="item pic-1 active">
              <div class="landing-page-mid">
                <!-- ### -->
              </div>
            </div>
            <div class="item pic-2 ">
              <div class="landing-page-mid">
                <!-- <h4>"在平坦的路面上曲折前行"<br><span style="font-style:normal;">吃果果的蛐蛐</span></h4> -->
              </div>
            </div>
            <div class="item pic-3">
              <div class="landing-page-mid">
                <!-- ### -->
              </div>
            </div>
          </div>
        </div>
        <!--换页按钮 -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>
      </div>
  </section>



  <section  class="product-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>精选物品</h3>
        <div class="short-line"></div>
        <div class="col-md-4 #">
          <div class="box">
            <a  target="_blank" href="https://shrouded-crag-19609.herokuapp.com/products／5"><img src="https://ws4.sinaimg.cn/large/006tKfTcly1fjmmv5rofej30ku0f83yy.jpg" alt="商品1" ／></a>
          </div>
          <div class="box">
            <a target="_blank" href="/products/5"><img src="https://ws4.sinaimg.cn/large/006tKfTcly1fjmn6ug97yj30kk0bzaai.jpg" alt="商品2" /></a>
          </div>
        </div>

        <div class="col-md-4 #">

          <div class="box ">
            <a target="_blank" href="/products/5"><img src="https://ws4.sinaimg.cn/large/006tKfTcly1fjmu6698idj30ai0aiwev.jpg" alt="商品3" /></a>
          </div>

          <div class="box">
            <a  target="_blank" href="/products/5"><img src="https://ws2.sinaimg.cn/large/006tKfTcly1fjmupjo2xgj30go0gotdc.jpg" alt="商品4" /></a>
          </div>
        </div>

        <div class="col-md-4 #">
          <div class="box">
            <a target="_blank" href="/products/5"><img src="https://ws1.sinaimg.cn/large/006tKfTcly1fjmpdc4zegj30kk0kkac7.jpg" alt="商品5" /></a>
          </div>
          <div class="box">
            <a target="_blank" href="/products/5"><img src="https://ws3.sinaimg.cn/large/006tKfTcly1fjmp51bwmnj31400qoqgv.jpg" alt="商品6" /></a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--===== 品牌故事 =====-->
  <section class="story-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>品牌故事</h3>
        <div class="short-line"></div>
        <!-- <h1>李剑叶</h1> -->
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fjmwba68rtj30500500sm.jpg" alt="李剑叶" />
          </div>
          <div class="col-md-7">
            <h3>李剑叶</h3>
            <p>李剑叶，著名的“爱你五百年戒指”设计者；在2008年，探索在B2B背景下的以旅行者为主题的概念项目中，提出了全新体验的室内光环境控制装置——Daylight，概念被制作成现实展示原型，并于伦敦的Earls Court exhibition centre向公众展示；其参与设计的smartisan T1手机荣获iF金奖。</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-7 col-md-offset-1">
            <h3>读库</h3>
            <p>《读库》是张立宪主编的综合性人文社科读物类杂志，意为“阅读的仓库”。以刊发中篇非虚构文章为主，内容包括传记、书评、影评、历史事件等。每两月出版一期，定价30元，另赠送全年订户别册一期，每期读库的扉页均附赠藏书票。</p>
          </div>
          <div class="col-md-3">
            <img src="https://ws4.sinaimg.cn/large/006tKfTcly1fjmz7ik62pj307d0783ym.jpg" alt="Anndo" />
          </div>
        </div>
      </div>
    </div>
  </section>


</div>
<!-- .container-fluid 类用于 100% 宽度，占据全部视口（viewport）的容器。 -->
<!-- col-sm-4 针对平板设备的.col-sm-* 类，数值用来设置栅格的宽度 -->
<!-- .col-xs-12 .col-sm-6 .col-md-8 分别对应手机、平板、桌面 -->
<!-- .col-md-offset-4 类将 .col-md-4 元素向右侧偏移了4个列（column）的宽度 -->
<!-- 创建缩略图，这会添加四个像素的内边距（padding）和一个灰色的边框。 -->
