<!-- <footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 jdstore
        <br>Design by
        <a href="http://weibo.com/u/3013896483?is_all=1" target=_new> 吃果果的蛐蛐</a>
    </p>
</footer>
<! 以上部分，不需要记忆 --> 

    <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-2 col-xs-4">
            <h4>商品咨询</h4>
            <ul class="list-unstyled">
              <li><a href="#s">最新商品</a></li>
              <li><a href="#s">独家推荐</a></li>
              <li><a href="#s">品牌分类</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-4">
            <h4>购物須知</h4>
            <ul class="list-unstyled">
              <li><a href="#s">关于运送</a></li>
              <li><a href="#s">退货方式</a></li>
              <li><a href="#s">常见问题</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-4">
            <h4>关于我们</h4>
            <ul class="list-unstyled">
              <li><a href="#s">品牌故事</a></li>
              <li><a href="#s">媒体报道</a></li>
              <li><a href="#s">联络我們</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <br/>
            <ul class="list-unstyled">
              <br/>
              <br/>

              <p>Designed By <a href="#" target="_blank">吃果果的蛐蛐</a>
              <br/>
              <a> Copyright ©2017 物语 </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
